In [1]:
#### Python is an interpreted language. (Hybrid programming language). Python has an inbuilt compiler which is called JIT(just in time compiler).

#### Basic Data Types-:
* Integer
* Float
* Complex
* Boolean

#### Basic data Structures:
* Strings
* Lists
* Tuples
* Sets
* Dictionaries

In [4]:
x=10
y=15.5
z=5+2j
a=True

In [5]:
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

### Tuples-: Contain ordered collection of elements,contains mixed data types,and are created using the () brackets or the tuple constructor. Tuples are immutable.

In [7]:
t1=(16,17.5,5+2j,False)
print(t1)
print(type(t1))

(16, 17.5, (5+2j), False)
<class 'tuple'>

In [8]:
t2=tuple(t1)
print(type(t2))

<class 'tuple'>

In [9]:
t1[2]

(5+2j)

In [10]:
t1[2]=80

TypeError: 'tuple' object does not support item assignment

In [81]:
t3=(5,17.5,5,9+2j,True,89.5,5)

In [83]:
t3.count(5)

3

In [85]:
t3.index(True)

4

#### Strings-:

In [88]:
a1='78'
print(type(a1))

<class 'str'>

In [90]:
a2='Simplilearn'
a2

'Simplilearn'

* positive indexes are read from the beginning to the end. it starts with 0. On the other hand,negetive indexes are read from the end to the beginning and starts with -1.Negetive indexes are used to fetch elements from the bottom.

In [93]:
a2[-3]

'a'

In [95]:
a2[8]

'a'

In [97]:
##slice the last 5 elements of a2
a2[6:10]

'lear'

In [99]:
a2[6:]

'learn'

In [101]:
a2[-5:]

'learn'

In [103]:
a3='''This is the first session on python,
we are going through the basics'''

In [105]:
print(type(a3))

<class 'str'>

In [107]:
### Strings objects are created using a single or double quote. 
###Multiline string values need to be enclosed in 3 double/single quotes to qualify as a string object

In [109]:
a3

'This is the first session on python,\nwe are going through the basics'

In [111]:
x

10

In [113]:
x
y
z
a

True

In [115]:
print(x)
print(y)
print(z)
print(a)

10
15.5
(5+2j)
True

In [117]:
### Print function is mandatory for multiple assignments in python.

In [119]:
### python is case sensitive.

In [121]:
print(x)

10

### Questions on Tuples,Strings.

In [124]:
###Q) T1=(55,67,89,23,45.2) Write a program to copy the elements 89,23,45.2 into a new tuple.

In [126]:
T1=(55,67,89,23,45.2)
T2=T1[2:]
print(T2)

(89, 23, 45.2)

In [128]:
### Q) T3=(100,300,500)
### T4=(11,55,77). Revise T3 and T4  to store elements 11,55,77 and 100,300,500 respectively.

In [130]:
T3=(100,300,500)
T4=(11,55,77)

In [132]:
T3,T4=T4,T3
print(T3)
print(T4)

(11, 55, 77)
(100, 300, 500)

In [134]:
#### Q) T5= ('Python',[8,9,10],(10,20,30))
### Slice out element 9 from the above tuple T5

In [136]:
T5= ('Python',[8,9,10],(10,20,30))

In [138]:
T5[1]

[8, 9, 10]

In [140]:
T5[1][1]

9

In [142]:
####Q) Reverse the elements of tuple T1

In [144]:
T1

(55, 67, 89, 23, 45.2)

In [146]:
T1[::-1]

(45.2, 23, 89, 67, 55)

In [148]:
###Q) Consider a string 'basics to advanced' slice out elements v,a,n from the string object.

In [150]:
str1='basics to advanced'

In [152]:
str1[-6:-3]

'van'

In [153]:
str1[12:15]

'van'

In [154]:
### Q) Consider a string object s2='simplilearn'. Convert all the characters of the object to its uppercase.

In [155]:
s2 = 'simplilearn'
s = s2.upper()
s

'SIMPLILEARN'

#### Lists contain multiple data types,are ordered and are mutable. They contain duplicates,and can be created with [] brackets or the list constructor.Constructors are special methods which are used to create objects from a class.

In [157]:
list1=[17,23.5,False,(4,5),7+2j,'string']

In [158]:
print(list1)
print(type(list1))

[17, 23.5, False, (4, 5), (7+2j), 'string']
<class 'list'>

In [159]:
list2=list(list1)
print(list2)
print(type(list2))

[17, 23.5, False, (4, 5), (7+2j), 'string']
<class 'list'>

In [160]:
list1.append(100) ##adds an element at the end of the list

In [161]:
list1

[17, 23.5, False, (4, 5), (7+2j), 'string', 100]

In [162]:
list2.clear() #removes all elements of a list object to return an empty list

In [163]:
list2

[]

In [164]:
list3=list1.copy() #creates a copy of the exsisting object

In [165]:
list3

[17, 23.5, False, (4, 5), (7+2j), 'string', 100]

In [166]:
list3.append(17)

In [167]:
list3

[17, 23.5, False, (4, 5), (7+2j), 'string', 100, 17]

In [168]:
list3.count(17) #returns the number of occurences of a certain element in a list.

2

In [169]:
list3

[17, 23.5, False, (4, 5), (7+2j), 'string', 100, 17]

In [170]:
list3.extend((True,89,65.2,'text')) ## adds multiple elements at the end of th elist

In [171]:
list3

[17, 23.5, False, (4, 5), (7+2j), 'string', 100, 17, True, 89, 65.2, 'text']

In [172]:
list3.index(7+2j)  #gives the index position of an element in the list object

4

In [173]:
list3.insert(3,True) #adds an element at a specific position in the list

In [174]:
print(list3)

[17, 23.5, False, True, (4, 5), (7+2j), 'string', 100, 17, True, 89, 65.2, 'text']

In [175]:
list3.pop(5) #removes an element by its index position

(7+2j)

In [176]:
list3

[17, 23.5, False, True, (4, 5), 'string', 100, 17, True, 89, 65.2, 'text']

In [177]:
list3.remove(23.5) # remove method removes an element by its value

In [178]:
list3

[17, False, True, (4, 5), 'string', 100, 17, True, 89, 65.2, 'text']

In [179]:
list3.reverse()

In [180]:
list3

['text', 65.2, 89, True, 17, 100, 'string', (4, 5), True, False, 17]

In [181]:
list3[::-1] #standard way to reverse elements in an object

[17, False, True, (4, 5), 'string', 100, 17, True, 89, 65.2, 'text']

In [182]:
list3.sort(reverse=True)

TypeError: '<' not supported between instances of 'tuple' and 'bool'

In [ ]:
list4=[23,76,12,89,93,6,100]

In [183]:
list4.sort(reverse=True) # reverse=true sorts elements in the descending order. By default the sorting happens in the asc order.

NameError: name 'list4' is not defined

In [ ]:
list4

#### Sets are unordered collection of elements. Sets do not allow duplicates,though sets are mutable,the elements of a set object are not.Sets are created using curly brackets or the set constructor

In [185]:
set1={17, 23.5, False, (4, 5), (7+2j), 'string', 100, 17, True, 89, 65.2, 'text'}
print(set1)
print(type(set1))

{False, True, 65.2, 'string', 100, (7+2j), 17, (4, 5), 23.5, 89, 'text'}
<class 'set'>

In [186]:
set2=set(set1)

In [187]:
print(set2)
print(type(set2))

{False, True, 65.2, 'string', 100, (7+2j), 17, (4, 5), 23.5, 89, 'text'}
<class 'set'>

In [188]:
set1[2]

TypeError: 'set' object is not subscriptable

In [189]:
### immutable sets-Frozensets:

In [190]:
set3=frozenset({67,67,(7,2),'text'})

In [191]:
set3

frozenset({(7, 2), 67, 'text'})

In [192]:
###add elements to a set:
set1.add(50) #we can add a single element to a set using the add method.

In [193]:
set1

{(4, 5), (7+2j), 100, 17, 23.5, 50, 65.2, 89, False, True, 'string', 'text'}

In [194]:
set3.add(50) ## adds a single element in a random position in the set

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
set1.update([11,9.2,'python',None]) ###add multiple elements in random position

In [ ]:
print(set1)

In [ ]:
set1.discard(True) #discard/remove will drop elements from an exsisting set

In [195]:
print(set1)

{False, True, 65.2, 'string', 100, (7+2j), 17, (4, 5), 50, 23.5, 89, 'text'}

In [196]:
set1.pop() #any one random element is removed from the set

False

In [197]:
print(set1)

{True, 65.2, 'string', 100, (7+2j), 17, (4, 5), 50, 23.5, 89, 'text'}

In [198]:
set4={10,20,40,50,60}
set5={11,20,60,70,90}

In [199]:
set4.union(set5)  # combine all elements of both sets discarding the duplicates

{10, 11, 20, 40, 50, 60, 70, 90}

In [200]:
set4.intersection(set5) # return only the common elements in both sets.

{20, 60}

In [201]:
set4.difference(set5) #elements in set4,but not in set5.

{10, 40, 50}

#### Dictionaries contain pair of elements as key,value pairs. dictionaries contain multiple data types and are mutable(keys are immutable but values are mutable). dictionaries allow duplicates and can be created with curly brackets or the dict constructor.

In [340]:
dict1={10875:'Madhu','summer':'mangoes','session':2,'participants':20,'language':['R','SAS','SPSS','Python']}

In [342]:
print(dict1)
print(type(dict1))

{10875: 'Madhu', 'summer': 'mangoes', 'session': 2, 'participants': 20, 'language': ['R', 'SAS', 'SPSS', 'Python']}
<class 'dict'>

In [344]:
dict2=dict(dict1)
print(dict2)
print(type(dict2))

{10875: 'Madhu', 'summer': 'mangoes', 'session': 2, 'participants': 20, 'language': ['R', 'SAS', 'SPSS', 'Python']}
<class 'dict'>

In [346]:
dict1['summer']

'mangoes'

In [348]:
dict1.keys()

dict_keys([10875, 'summer', 'session', 'participants', 'language'])

In [350]:
dict1.values()

dict_values(['Madhu', 'mangoes', 2, 20, ['R', 'SAS', 'SPSS', 'Python']])

In [352]:
dict1.items()

dict_items([(10875, 'Madhu'), ('summer', 'mangoes'), ('session', 2), ('participants', 20), ('language', ['R', 'SAS', 'SPSS', 'Python'])])

In [354]:
dict1.get('language') ##return the value associated with the key

['R', 'SAS', 'SPSS', 'Python']

In [356]:
#updating values in a dict
dict1['summer']='Melons'

In [358]:
dict1

{10875: 'Madhu',
 'summer': 'Melons',
 'session': 2,
 'participants': 20,
 'language': ['R', 'SAS', 'SPSS', 'Python']}

In [360]:
dict1['session']='basics'

In [362]:
print(dict1)

{10875: 'Madhu', 'summer': 'Melons', 'session': 'basics', 'participants': 20, 'language': ['R', 'SAS', 'SPSS', 'Python']}

In [366]:
object1=dict1['language']

In [368]:
object1

['R', 'SAS', 'SPSS', 'Python']

In [372]:
object1[2]='Excel'

In [374]:
object1

['R', 'SAS', 'Excel', 'Python']

In [376]:
print(dict1)

{10875: 'Madhu', 'summer': 'Melons', 'session': 'basics', 'participants': 20, 'language': ['R', 'SAS', 'Excel', 'Python']}

In [215]:
###remove keys 
del dict1['session']

In [216]:
print(dict1)

{10875: 'Madhu', 'summer': 'Melons', 'participants': 20, 'language': ['R', 'SAS', 'SPSS', 'Python']}

In [217]:
###adding elements to a dictionary:
dict1['Session']='Basicsofpython'

In [218]:
print(dict1)

{10875: 'Madhu', 'summer': 'Melons', 'participants': 20, 'language': ['R', 'SAS', 'SPSS', 'Python'], 'Session': 'Basicsofpython'}

In [219]:
dict1.pop('Session')  #remove a specific key-value pair by its internal position

'Basicsofpython'

In [220]:
print(dict1)

{10875: 'Madhu', 'summer': 'Melons', 'participants': 20, 'language': ['R', 'SAS', 'SPSS', 'Python']}

In [221]:
dict1.popitem() ## by default this method removes the last key-value pair from the dict

('language', ['R', 'SAS', 'SPSS', 'Python'])

In [222]:
print(dict1)

{10875: 'Madhu', 'summer': 'Melons', 'participants': 20}

In [223]:
my_dict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [224]:
my_dict.values()

dict_values(['Ford', 'Mustang', 1964])

In [225]:
#### Q) we have a list10=['Orange','apple','','banana','pineapple','','mangoes']
##### You need to remove the empty strings from list10

In [1]:
list10=['Orange','apple','','banana','pineapple','','mangoes']
list10.remove('')
list10.remove('')
list10

['Orange', 'apple', 'banana', 'pineapple', 'mangoes']

In [7]:
list10=['Orange','apple','','banana','pineapple','','mangoes']
result=list(filter(None,list10))
result

['Orange', 'apple', 'banana', 'pineapple', 'mangoes']

In [226]:
####Q) We have a list [10,15,[150,200,[6000,4000],20,25]]
#### add a value of 5000 after 4000 in the above list

In [9]:
list11= [10,15,[150,200,[6000,4000],20,25]]

In [3]:
list11[2]

[150, 200, [6000, 4000], 20, 25]

In [5]:
list11[2][2]

[6000, 4000]

In [7]:
list11[2][2].append(5000)
list11

[10, 15, [150, 200, [6000, 4000, 5000], 20, 25]]

In [11]:
list11[2][2].insert(2,5000)
list11

[10, 15, [150, 200, [6000, 4000, 5000], 20, 25]]

In [227]:
#####Q)we have a sample dictionary={'name':'madhu','city':'xyz','salary':11,age:80}
#### Change the key 'city' to 'location' in the above dictionary

In [15]:
dictionary={'name':'madhu','city':'xyz','salary':11,'age':80}

In [17]:
dictionary['location']=dictionary.pop('city')
print(dictionary)

{'name': 'madhu', 'salary': 11, 'age': 80, 'location': 'xyz'}

In [21]:
##2nd approach-:
dictionary={'name':'madhu','city':'xyz','salary':11,'age':80}
del dictionary['city']
dictionary['location']='xyz'
print(dictionary)

{'name': 'madhu', 'salary': 11, 'age': 80, 'location': 'xyz'}

In [380]:
list8=list(t1) #converting a tuple to a list
list8

[16, 17.5, (5+2j), False]

In [384]:
list9=list(set4) #converting a set to a list 
list9

[50, 20, 40, 10, 60]

 #### Loops:

In [24]:
list12=[45,65,82,78]

In [26]:
#increment each element by a 1 and print out the results.

In [28]:
print(list12[0]+1)
print(list12[1]+1)
print(list12[2]+1)
print(list12[3]+1)

46
66
83
79

In [30]:
for taha in list12:
    print(taha+1)

46
66
83
79

In [32]:
###example2:
string='simplilearn'
for k in string:
    print(k)

s
i
m
p
l
i
l
e
a
r
n

In [40]:
list1=[7,8,9]
for x in list1:
 print(x+1)   #why error mamm

8
9
10

In [36]:
'm'+'n'

'mn'

In [38]:
8+9

17

In [48]:
##example 3:
for x in range(1,9):
    print(x**2)

1
4
9
16
25
36
49
64

In [46]:
print(list(range(8)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [50]:
list=[1,2,3,4,5,6,7,8]
for x in list:
 print(x**2)

1
4
9
16
25
36
49
64

In [52]:
#### I have a list of values 'cat','mat','bat','rat','sat'. Print out all these values along with the index.

In [54]:
list13=['cat','mat','bat','rat','sat']
i=0
for k in list13:
    print('The element at index:',i,'is',k)
    i=i+1

The element at index: 0 is cat
The element at index: 1 is mat
The element at index: 2 is bat
The element at index: 3 is rat
The element at index: 4 is sat

In [56]:
animal= ["cat","bat","mat","rat","sat"]
for i in range (len(animal)):
    print(i, animal[i])

0 cat
1 bat
2 mat
3 rat
4 sat

### Loop Control Statements:

In [59]:
subs=['Maths','Eng','French','Civics','Economics','Hindi']

for i in subs:
    print(i)
    if i=='Civics':
        break

Maths
Eng
French
Civics

In [61]:
# break statement will stop the execution of the loop. Continue will skip an iteration and move to the next iteration.

In [11]:
subs=['Maths','Eng','French','Civics','Economics','Hindi']

for i in subs:
    
    if i=='Civics'or i=='Economics':
        continue
    print(i)

Maths
Eng
French
Hindi

In [1]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list1 = list(range(10))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
###Q) consider a string 'simplilearn'. print only the consonants from this string using the for loop.

In [15]:
str10='simplilearn'
for i in str10:
    if i=='i' or i=='a' or i=='e' or i=='o' or i=='u':
        continue
    
    print(i)

s
m
p
l
l
r
n

In [27]:
str = 'simplilearn'
for x in str:
    if not (x=='i' or x=='e' or x == 'a'):
        print(x)
    #print(x)

s
m
p
l
l
r
n

In [3]:
str ='simplilearn'
vovel ='auiou'
for i in str:
    if i not in vovel:
        print(i,end="")

smpllern

In [30]:
###Q)write a for loop to print the following sequence 10,20,30,40,.....200

In [7]:

#for item in range(10,201,10):
    #print (item)

In [5]:
list25=(range(1,21))
for i in list25:
    print('sequence:',i*10)

sequence: 10
sequence: 20
sequence: 30
sequence: 40
sequence: 50
sequence: 60
sequence: 70
sequence: 80
sequence: 90
sequence: 100
sequence: 110
sequence: 120
sequence: 130
sequence: 140
sequence: 150
sequence: 160
sequence: 170
sequence: 180
sequence: 190
sequence: 200